<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Coding Challenge</title>
    <link href="/static/vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
      body { padding-top: 50px; }
    </style>
    {% block styles %}{% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar">&nbsp;</span>
            <span class="icon-bar">&nbsp;</span>
            <span class="icon-bar">&nbsp;</span>
          </button>
          <a class="navbar-brand" href="/">Coding Challenge</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="/assignment/new">New Assignment</a></li>
            <li><a href="https://github.com/jschementi/challenge/edit/master/coding_challenge.md" target="_blank">Edit Challenge</a></li>
          </ul>
          <p class="navbar-text navbar-right">Welcome, {{ g.user.name|default(g.user.login) }}</p>
        </div>
      </div>
    </nav>
    
    <div class="container">
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible fade in" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
    </div>

    {% block content %}{% endblock %}

    <script src="/static/vendor/jquery/dist/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/static/vendor/typeahead.js/dist/typeahead.bundle.min.js"></script>
    {% block scripts %}{% endblock %}
  </body>
</html>
